<!DOCTYPE html>
<html ng-app="betlog">
<head>
  <title>Betlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//vk.com/js/api/openapi.js?105" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="carcas">
		<div class="header">
			<div class="navigation" ng-controller="Navigation">
					<a ng-show="getCurrentUserName()" ng-click="showProfile();" href="#">{{getCurrentUserName()}}</a>
					<a ng-hide="getCurrentUserName()" id="signin" ng-click="showAuthorization();" href="#">Войти</a>
			</div>
			<div class="logo"><a href="/"><img src="<%= asset_path( 'logo.png' ) %>" title="Betlog" /></a></div>

			<%= render 'layouts/search' %>

			<%= render 'layouts/menu_sports' %>

		</div>
		<div class="content" ng-controller="Main">
			<div class="content-top"><div><div></div></div></div>
			<div class="content-body">

				<div ng-view></div>

				<script type="text/ng-template" id="favorites.html">
					<%= render 'layouts/favorites' %>
				</script>

				<script type="text/ng-template" id="championships_events.html">
					<%= render 'layouts/championships_events' %>
				</script>

			</div>

			<div class="content-bottom"><div><div></div></div></div>
		</div>
		
		<%= render 'layouts/footer'%>

	</div>
	<%= render 'layouts/ga' %>
</body>
</html>
